Temp/
Library/
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/UnityAssemblies/UnityEditor.dll
Library/UnityAssemblies/UnityEngine.dll
Library/UnityAssemblies/UnityEngine.UI.dll
Library/UnityAssemblies/version.txt
*.dll
Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8
